// Primary styles

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Cormorant+SC:wght@400;600&family=Inter:wght@400;500;600;700;800&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Cormorant+SC:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@400;500;600;700;800&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins&display=swap');

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: #90d4c5;

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --ark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
// html,
// body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     min-width: 320px;
//     position: relative;
//     width: 100%;
// }

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow;
    overflow: hidden;
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 18px;
    // position: relative;
    @media (max-width: 375px) {
        margin: 0 auto;
        width: 100%;
        // overflow: hidden;
    }
}

// Burger-menu
#popup__toggle {
    @media (min-width: 375px) {
        display: none;
        padding: 40px;
        background-color: red;
    }
}

.popup__overlay {
    // @media (min-width: 375px) {
    //     display: none;
    // }
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 100;
}
.popup__overlay:after {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.popup-list {
    color: var(--ark-grayish-blue);
    padding: 10px;
}
/* ADDED FOR IE<9 COMPATIBILITY */
.popup__overlay_ie {
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #339900;
    background: #fff;
    vertical-align: middle;
}
/* ADDED INSTEAD OF :AFTER PSEUDOELEMENT */
.popup__valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
// input[type='button'] {
//     padding: 6px 16px;
//     border: 0;
//     border-radius: 2px;
//     cursor: pointer;
//     background: #ff6600;
//     color: #fff;
// }
.popup__close {
    display: block;
    position: absolute;
    top: -18px;
    right: 10px;
    width: 12px;
    height: 12px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    background: #339900;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.popup__close:hover {
    background: #ff6600;
}

// Header

.header-container {
    background-image: url(/sunnyside_landing/images/desktop/image-header.jpg);
    height: 800px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    @media (max-width: 375px) {
        height: 540px;
        background-size: 100% 100%;
        background-position: center top;
        background-image: url(/sunnyside_landing/images/mobile/image-header.jpg);
    }
}

h1 {
    text-transform: uppercase;
    color: var(--White);
    font-size: 54px;
    letter-spacing: 12px;
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    margin-top: 6.5rem;
    @media (max-width: 375px) {
        // display: none;
        font-size: 38px;
        letter-spacing: 10px;
        text-align: center;
        margin-top: 5.5rem;
        // z-index: 999;
    }
}
.header-container__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 375px) {
        .burger {
            margin: 30px 30px 0 0;
        }
    }
    .header-container__logo {
        margin: 40px 0 0 40px;
        @media (max-width: 375px) {
            margin: 30px 0 0 20px;
        }
        img {
            width: 175px;
            @media (max-width: 375px) {
                width: 120px;
            }
        }
    }
    // @media (max-width: 375px) {
    //     display: none;
    // }
}
.header-container__menu {
    margin-right: 20px;
    @media (max-width: 375px) {
        display: none;
    }
}
.header-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
        padding-right: 25px;
        color: var(--White);
        @media (max-width: 375px) {
            color: var(--Dark-blue);
        }
    }
    li {
        margin: 34px 22px 0 0;
        font-size: 18px;
    }
    .contact {
        text-transform: uppercase;
        font-size: 16px;
        color: var(--Dark-blue);
        border-radius: 30px;
        padding: 17px 35px;
        background-color: var(--White);
        font-family: Fraunces;
    }
    .contact:hover {
        color: var(--White);
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.header-container__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    @media (max-width: 375px) {
        top: 53%;
        left: 44%;
    }
}
.arrow-down {
    transform: translatey(0px);
    animation: down 4s ease-in-out infinite;
    @media (max-width: 375px) {
        animation: none;
    }
}
@keyframes down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0px);
    }
}

// Main section

.main-content {
    max-width: 1440px;
    display: none;
    @media (max-width: 375px) {
        max-width: 375px;
    }
}
.main-content_section {
    display: flex;
    .main-content__column {
        flex: 0 0 50%;
        .main-content__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.content__text {
    padding-left: 60px;
    a {
        text-decoration: underline var(--Yellow) 4px;
    }
}
.content__text-right {
    padding-right: 60px;
    a {
        text-decoration: underline var(--Soft-red) 4px;
    }
}
.content__text,
.content__text-right {
    width: 450px;
    margin: 0 auto;
    padding-top: 110px;
    h3 {
        font-family: Fraunces;
        font-size: 42px;
        font-weight: 900;
        color: var(--Very-dark-desaturated-blue);
    }
    p {
        margin-top: -10px;
        margin-bottom: 45px;
        color: var(--Grayish-blue);
        font-size: 17px;
        line-height: 28px;
    }
    a {
        font-family: Fraunces;
        color: var(--Very-dark-desaturated-blue);
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        padding-left: 15px;
    }
}
.image-box {
    display: none;
}
.img-bg {
    display: none;

    text-align: center;
    h3 {
        font-size: 27px;
        text-transform: capitalize;
        padding-bottom: 8px;
    }
    h3,
    p {
        color: var(--Very-dark-grayish-blue);
    }
    .content__text {
        margin-top: 35.5%;
        width: 360px;
        padding-bottom: 13px;
        margin-right: 25%;
    }
}
.design {
    background-image: url(/sunnyside_landing/images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.photo {
    background-image: url(/sunnyside_landing/images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

// Client's section

.client {
    display: none;

    max-width: 1440px;
    margin-top: 10rem;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: Fraunces;
        color: var(--Grayish-blue);
        letter-spacing: 5px;
        font-size: 20px;
        margin-bottom: 80px;
    }
    img {
        border-radius: 50%;
        width: 72px;
        margin-bottom: 40px;
    }
    p {
        color: var(--Grayish-blue);
        font-size: 18px;
        line-height: 32px;
    }
    p,
    span {
        color: var(--Very-dark-grayish-blue);
        text-align: center;
    }
    span {
        font-size: 15px;
        color: var(--Grayish-blue);
    }
    h4 {
        margin: 54px 12px 10px 0;
        font-family: Fraunces;
        font-size: 19px;
        font-weight: bold;
    }
}
.client-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .client-container__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        margin: 0 15px;
    }
}

// Photo's container

.images-content {
    display: none;

    display: flex;
    max-width: 1440px;
    margin: 160px 0 auto;
    .image-box {
        width: 25%;
    }
    img {
        max-width: 360px;
    }
}

// Footer

footer {
    display: none;

    text-align: center;
    background-color: var(--Dark-moderate-cyan);
    margin: -3px auto;
    img {
        width: 180px;
        margin-top: 75px;
        @media (max-width: 375px) {
            width: 100px;
        }
    }
    .footer-menu-list {
        display: flex;
        width: 400px;
        margin: 0 auto;
        margin-top: 38px;
        margin-bottom: 40px;
        align-items: center;
    }
    li {
        font-size: 18px;
        padding-left: 30px;
        @media (max-width: 375px) {
            font-size: 8px;
        }
    }
    a {
        color: var(--Dark-desaturated-cyan);
    }
    a:hover {
        color: var(--White);
    }
    .middle {
        margin: 0 25px;
    }
    .icons {
        display: flex;
        width: 200px;
        margin: 0 auto;
        align-items: center;
        font-size: 24px;
        padding-left: 37px;
    }
    i {
        margin: 45px 25px 60px 0;
        color: var(--Dark-desaturated-cyan);
        @media (max-width: 375px) {
            font-size: 8px;
        }
    }
    i:hover {
        color: var(--White);
    }
}
